gallery
a.out
*.out
*.o
*.so
.ccls-cache/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*~
*.log

tmp/
temp/
assets_small/
assets_small_prev/
download_images.php
assets/
*.jpg
